/* HERO
-------------------------------------------------*/
.hero {
  position: relative;
  margin-top: 70px;
  background: $colorPrimary;

  .ratio-container {
    position: relative;
  }

  img {
    width: 100%;
    height: 40vw;
    max-height: 500px;
    object-fit: cover;
  }

}


