<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-offset="70" data-target=".scrollspy">
<div class="scroll-aware" id="top"></div>
<!--[if lt IE 10]>
<p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to
    better experience this site.</p>
<![endif]-->

{% include header.html %}

{% include hero.html %}

<div class="scroll-aware" id="oferta"></div>
{% include offer.html %}

<div class="scroll-aware" id="zespol"></div>
{% include about.html %}

<div class="scroll-aware" id="cennik"></div>
{% include prices.html %}

<div class="scroll-aware" id="kontakt"></div>
{% include contact.html %}

{% include map.html %}

{% include footer.html %}

{% include analytics.html %}

<script src="dist/main.bundle.js"></script>
</body>
</html>
