<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">

<!--[if lt IE 10]>
<p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to
    better experience this site.</p>
<![endif]-->

{% include header-subpage.html %}

{% include hero.html %}


<nav aria-label="breadcrumb" class="bread-background">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/#oferta">Oferta</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </div>
</nav>

<div class="descriptions">
    <div id="page_content" class="page_content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1 class="section-title">{{ page.title }}</h1>
                <div class="row">

                    {{ content }}

                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}

{% include analytics.html %}

<script src="/dist/main.bundle.js"></script>
</body>
</html>
